---
import type { HomeContent } from "../utils/types.astro";

interface Props {
  data: HomeContent;
}

const { data } = Astro.props;

const { firstname, heading, subheading, companyname, companyurl } = data;
---

<header>
  <div class="bg-gradient-to-b from-sand-300 to-white py-24">
    <div class="container mx-auto">
      <h1
        class:list={[
          "max-w-3xl",
          "font-serif font-medium",
          "text-7xl",
          "break-normal",
          "leading-tighter tracking-tight",
          "mb-4",
        ]}
      >
        <strong class="font-extrabold">{firstname}</strong>
        {heading}
      </h1>
      <h2
        class:list={[
          "max-w-3xl",
          "font-sans font-normal",
          "leading-normal tracking-wide",
          "text-2xl text-gray-700",
        ]}
      >
        {subheading}
        <a
          href={companyurl}
          target="_blank"
          rel="noopener noreferrer"
          class="underline text-emerald-700">{companyname}</a
        >.
      </h2>
    </div>
  </div>
</header>
