---
import type { HomeContent } from "../utils/types.astro";
import Heading from "~/modules/ui/components/heading.astro";

interface Props {
  data: HomeContent;
}

const { data } = Astro.props;

const { firstname, heading, subheading, companyname, companyurl } = data;
---

<header>
  <div class="bg-gradient-to-b from-sand-300 to-white py-24">
    <div class="container mx-auto">
      <Heading variant="display" class="mb-4">
        <strong class="font-extrabold mr-2">{firstname}</strong>
        {heading}
      </Heading>

      <Heading variant="h2" intent="secondary" font="sans">
        {subheading}

        <a
          href={companyurl}
          target="_blank"
          rel="noopener noreferrer"
          class="ml-2 underline text-emerald-700">{companyname}</a
        >.
      </Heading>
    </div>
  </div>
</header>
